/* Start variables */
:root {
    --main-color: #fdd574;
    --secondary-color: #241c24;
    --section-padding: 60px;
    --section-background: #6a593c;
    /* --background-color: #8c7c4c;
    --background-color: #9a8452;
    --background-color: #4b4434;
    --background-color: #544c34;
    --background-color: #3c342c;
    --background-color: #2c2c24; */
}

::selection {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-color, #333);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color, #eee);
}

/* End variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--section-background);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (max-width:670px) {
    .header .navbar {
        display: none;
    }
}

/* Medium Screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Header */
.header {
    padding: 20px;
    background-color: #777;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 50px;
}

.header .navbar a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
    font-weight: bold;
}

.header .navbar a:hover {
    color: var(--secondary-color);
    border-bottom: var(--main-color) solid 1px;
    padding-bottom: .5px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.5s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.5s;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 2px solid #eee;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

/* End Header */

/* Landing Section Start */
.landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 95.53px);
}

/* Landing Section End */

/* Menu Section Start */
.menu h2 {
    font-size: 100px;
    background-color: #777;
    text-transform: uppercase;
    text-align: center;
}

table {
    width: 100%;
    vertical-align: middle;
    /* background-color: var(--secondary-color); */
    color: black;
    margin-bottom: 80px;
    border-collapse: collapse;
    border: 5px solid;
    position: relative;
}

table::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: #000000; */
    left: -20px;
    top: -20px;
    z-index: -1;
    border: 3px solid;
    border-color: var(--main-color) transparent transparent var(--main-color);
}

table::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    /* background-color: #000000; */
    right: -20px;
    bottom: -20px;
    z-index: -1;
    border: 3px solid;
    border-color: transparent var(--main-color) var(--main-color) transparent;
}

table th {
    height: 80px;
    background-color: var(--main-color);
    color: black;
    text-transform: uppercase;
    font-size: 30px;
}

table th:first-child {
    text-align: left;
    width: 50%;
}

table td:first-child {
    text-align: left;
    font-size: 20px;
}

table,
tr,
td,
th {
    text-align: center;
    padding: 10px;
}

table tr:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 2px solid black;
    font-weight: bold;
}

/* Menu Section End */